.rfla-item {
    line-height: 60px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;

    /* Modifiers */
    /* Taken from https://clrs.cc/ */
    &--navy {
        background-color: #001f3f;
    }

    &--blue {
        background-color: #0074d9;
    }

    &--aqua {
        background-color: #7fdbff;
    }

    &--teal {
        background-color: #39cccc;
    }

    &--olive {
        background-color: #3d9970;
    }

    &--green {
        background-color: #2ecc40;
    }

    &--lime {
        background-color: #01ff70;
    }

    &--yellow {
        background-color: #ffdc00;
    }

    &--orange {
        background-color: #ff851b;
    }

    &--red {
        background-color: #ff4136;
    }

    &--maroon {
        background-color: #85144b;
    }

    &--fuchsia {
        background-color: #f012be;
    }

    &--purple {
        background-color: #b10dc9;
    }

    &--black {
        background-color: #111111;
    }

    &--gray {
        background-color: #aaaaaa;
    }

    &--silver {
        background-color: #dddddd;
    }

    /* States */
    // 4. Currently selected items should be visually highlighted.
    &.rfla-is-selected {
        border-radius: 8px;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
}
